body{background-color:#000;font-family:Ubuntu,sans-serif;overflow-x:hidden;overflow-y:hidden}
p{font:16px;font-weight:200}
#introTitle{border-top-left-radius:25px;border-top-right-radius:25px;background-color:rgba(0,0,0,.5);padding-left:5rem;padding-right:5rem;padding-top:2.5rem;font-size:90px;font-weight:900;color:#fff;margin-bottom:0;border-bottom:2px solid #0ff}
@media screen and (max-width:720px){
#introTitle{border-top-left-radius:25px;border-top-right-radius:25px;background-color:rgba(0,0,0,.5);padding-left:2rem;padding-right:2rem;padding-top:1rem;font-size:32px;font-weight:900;color:#fff;margin-bottom:0}
}
a,a:active,a:focus,a:hover{text-decoration:none;color:#fff}
.item a{opacity:.3;transition:all .3s ease-in-out}
.item a:hover{text-decoration:line-through;text-decoration-color:#0ff;opacity:1;transition:all .3s ease-in-out}
.item{list-style:none}
.item::before{content:"•";color:#fff}
.item:hover::before{transition:all .3s ease-in-out;color:#0ff}
.menu{height:70vh;position:fixed;top:15%;left:9.87%;justify-content:space-between!important;z-index:3}
.nav-side::before{content:"";position:fixed;top:50%;left:10%;-webkit-transform:translateY(-50%);transform:translateY(-50%);width:1px;height:90vh;max-height:750px;background-color:#0ff;opacity:.5;z-index:2}
@media screen and (max-width:720px){
.menu{height:70vh;position:fixed;top:15%;left:.7%;justify-content:space-between!important}
.nav-side::before{left:1%}
}
#page1{background-image:url(../img/office-865091.jpg);background-size:cover;background-repeat:no-repeat}
#page2{background-image:url(../img/office-865091.jpg);background-size:cover;background-repeat:no-repeat}
#page3{background-image:url(../img/backg1.png);background-size:cover;background-repeat:no-repeat}
#page4{background-image:url(../img/office-865091.jpg);background-size:cover;background-repeat:no-repeat}
section{padding-top:5vh;padding-left:40vh;padding-bottom:5vh;height:100vh;display:table;width:100%;padding-right:20vh}
@media screen and (max-width:720px){
section{padding-top:10vh!important;padding-left:10vh!important;height:100vh!important;display:table;width:100%!important;padding-right:2.5vh!important}
}
.infoBox{background-color:rgba(0,0,0,.5);padding-left:5rem;padding-right:5rem;padding-bottom:5rem;padding-top:5rem;color:#fff}
@media screen and (max-width:720px){
.infoBox{background-color:rgba(0,0,0,.5);padding-left:1rem!important;padding-right:1rem!important;padding-bottom:1rem!important;padding-top:1rem!important;border-radius:0!important;color:#fff}
}
.infoBox:nth-child(1){border-bottom-left-radius:25px}
.infoBox:nth-child(3){border-bottom-right-radius:25px}
.row{margin-right:0!important;margin-left:0!important}
.infoContent{transition:all .5s cubic-bezier(.075,.82,.165,1);opacity:.4}
.infoContent:hover{transition:all .5s cubic-bezier(.075,.82,.165,1);opacity:1;transform:scale(1.2)}
@media screen and (max-width:720px){
.infoContent{transition:all .5s cubic-bezier(.075,.82,.165,1);opacity:.4}
.infoContent:hover{transition:all .5s cubic-bezier(.075,.82,.165,1);opacity:1;transform:scale(1.1)}
}
.slideImage{border-radius:50%;width:300px;height:300px;border:2px solid #0ff;padding:.5%;z-index:2}
.slideImage:hover{transition:all .2s ease-in;opacity:.8;-webkit-filter:blur(1px);filter:blur(1px)}
.carousel-indicators li{display:none!important}
.carousel-control-next-icon,.carousel-control-prev-icon{width:50px;height:50px}
.desc{margin-left:15vh;margin-right:15vh;margin-top:10px;border-radius:25px;background-color:rgba(0,0,0,.5);border-bottom:1px solid #0ff;padding-top:2rem;padding-left:2rem;padding-right:2rem;color:#fff}
.desc p{padding-top:2rem;padding-left:5rem;padding-right:5rem;color:#fff}
@media screen and (max-width:720px){
.slideImage{border-radius:50%;width:200px;height:200px;border:2px solid #0ff;padding:.5%;z-index:2}
.carousel-control-next-icon,.carousel-control-prev-icon{display:none}
.desc{margin-left:1vh;margin-right:1vh;margin-top:10px;border-radius:25px;background-color:rgba(0,0,0,.5);border-bottom:1px solid #0ff;padding-top:1rem;padding-left:1rem;padding-right:1rem;color:#fff}
.desc p{padding-top:.5rem;padding-left:1rem;padding-right:1rem;color:#fff}
}
*,:after,:before{-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box}
form{max-width:600px;text-align:center;margin:20px auto}
form input,form textarea{border:0;outline:0;padding:1em;-moz-border-radius:8px;-webkit-border-radius:8px;border-radius:8px;display:flex;width:100%;margin-top:1em;-moz-box-shadow:0 1px 1px rgba(0,0,0,.1);-webkit-box-shadow:0 1px 1px rgba(0,0,0,.1);box-shadow:0 1px 1px rgba(0,0,0,.1);resize:none}
form input:focus,form textarea:focus{-moz-box-shadow:0 0 2px #0ff!important;-webkit-box-shadow:0 0 2px #0ff!important;box-shadow:0 0 2px #0ff!important}
form #input-submit{color:#fff;background:#0ff;text-align:center;cursor:pointer;display:block!important}
form #input-submit:hover{-moz-box-shadow:0 1px 1px 1px rgba(170,170,170,.6);-webkit-box-shadow:0 1px 1px 1px rgba(170,170,170,.6);box-shadow:0 1px 1px 1px rgba(170,170,170,.6)}
.half{width:100%;margin-bottom:1em}
.right{width:100%}
.left{margin-right:2%}
@media (max-width:480px){
.half{width:100%;float:none;margin-bottom:0}
}
.cf:after,.cf:before{content:" ";display:table}
.cf:after{clear:both}
.cTitle{color:#fff;text-decoration:line-through!important;text-decoration-color:#0ff!important;text-decoration-style:solid!important}
main.ng-enter{opacity:0;transform:translateY(-100vh);transition:all 1s ease-out}
main.ng-enter-active{transform:translateY(0vh);opacity:.5;transition:all .5s ease-in}