<section id="page1" class="row">
        <h1 id="introTitle">Wir begleiten Sie im digitalen Zeitalter</h1>
        <div class="row d-flex justify-content-around">
            <div class="col-md-4 col-sm-12 infoBox">
                <div class="infoContent">
                <p>Analyse
                    Detaillierte Aufnahme und Auswertung der Ist-Situation
                    der Kunden mit strukturierten Methoden und Werkzeugen.</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-12 infoBox">
                    <div class="infoContent">
                            <p>Analyse
                                Detaillierte Aufnahme und Auswertung der Ist-Situation
                                der Kunden mit strukturierten Methoden und Werkzeugen.</p>
                        </div>
            </div>
            <div class="col-md-4 col-sm-12 infoBox">
                    <div class="infoContent">
                            <p>Analyse
                                Detaillierte Aufnahme und Auswertung der Ist-Situation
                                der Kunden mit strukturierten Methoden und Werkzeugen.</p>
                        </div>
            </div>
        </div>
    </section>
